body {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 1rem;
  }
  
  ul  {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  header  {
    display:flex;
    justify-content: space-between;
    align-content: center;
  }
  
  header ul {
    display:flex;
    gap: 2rem;
  }

  footer {
    padding-top: 1rem;
    border-top: 2px solid grey;
  }

  label,input,textarea {
    display: block;
  }

  input, textarea {
    color: #fff;
    background-color: #ccc;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
  }

  
input[type="submit"] {
  background-color: blue;
  cursor: pointer;
}


select {
  display: block;
  margin: 0 0 1rem;
  border: solid 1px #ddd;
  border-radius: 6px;
      color: #fff;
    background-color: #ccc;
}

.error {
  background-color: red;
  color: white;
  padding: 0 0.8rem;
}

.error:hover {
  text-decoration: none;
} 